<div class="body">
  <div class="tastes__all">
    <h3>オモさ</h3>
    <div class="tastes__form">
      <!--オモさ追加機能-->
      <%= form_with model:@taste, url:admin_tastes_path, local:true do |f| %>
       <table>
         <tr>
           <th>オモさ名称追加</th>
           <th><%= f.text_field :name, placeholder: "オモさ名称" %></th>
           <th><%= f.submit "新規登録", class: "btn btn-2" %></th>
         </tr>
       </table>
      <% end %>
    </div>
    <div class="tastes__item">
      <!--オモさ一覧表示-->
      <table>
        <thead>
          <tr>
            <th>一覧</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tastes.each do |taste| %>
            <tr>
              <td><%= taste.name %></td>
              <td><%= link_to "編集する", edit_admin_taste_path(taste), class: "btn btn-2" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
