<div class="body">
  <h3>投稿詳細</h3>
  <div class="content">
    <!--投稿画像の表示-->
    <div class="content__image">
      <%= attachment_image_tag @post, :image, size: "400x300" %>
    </div>
    
    <!--投稿詳細の表示-->
    <div class="content__body">
      <h3>
        <%= @post.cooking_name %>
      </h3>
      <%= @post.user.name %></br>
      料理カテゴリー：<%= @post.category.name %></br>
      <!--関連するタグの表示-->
      <div class="content__tag">
        食材：
        <% @post_tags.each do |tag| %>
          <%= tag.tag_name %>
        <% end %></br>
      </div>
      <!--難易度を星に変換して表示-->
      <%= @post.display_difficulty %></br>
      オモさ：<%= @post.taste.name %></br>
    
      <% if @post.url.present? %>
        参考レシピURL：
        <div class="content__url">
          <%= link_to @post.url do %>
            <%= @post.url %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="content__btn">
      <% if current_user == nil %>
        <!--お気に入り登録できず、新規会員登録画面へ遷移する-->
        <%= link_to "お気に入り登録", new_user_registration_path, class: " btn btn-2" %>
      <% elsif current_user.id == @post.user_id %>
        <%= link_to "編集する", edit_post_path(@post), class: "btn btn-2" %>
        <%= link_to "投稿削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-2" %>
      <% elsif @post.favorited_by?(current_user) %>
        <%= link_to post_favorite_path(@post), method: :delete, data: { confirm: "お気に入り登録から削除しますか？" }, class: "btn btn-2" do %>
         お気に入りを削除
        <% end %>
      <% else %>
        <%= link_to post_favorites_path(@post), method: :post, class: "btn btn-2" do %>
          お気に入り登録
        <% end %>
      <% end %>
    </div>
  </div>
  
  
</div>
