<div class="body">
  <!--管理者側で表示食材タグで設定したタグ名を表示-->
  <div class="top__tag">
    <div class="top__tagname">
      <p>おすすめの食材はこちら！</p>
      <% @display_foods.each do |display_food| %>
        <%= link_to posts_path(tag_id: display_food) do %>
          <%= display_food.tag_name %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <h3 >新着投稿</h3>
   <%= render 'public/posts/top_index', posts: @new_posts %>
   
  <!--検索機能-->
  <div class="top__search">
    <h3>検索</h3>
    <div class="top__searchwindow">
      <p>料理名で探す</p>
      <%= form_with url: posts_path, method: :get, local: true do |f| %>
        <%= f.text_field :search_cooking_name %>
        <%= f.submit "検索" %>
      <% end %>
    
      <p>食材名で探す</p>
      <%= form_with url: posts_path, method: :get, local: true do |f| %>
        <%= f.text_field :search_food %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  
  <!--管理者側で注目食材に登録した食材に関連する投稿の表示-->
  <h3>注目食材の投稿</h3>
  <!--注目食材に登録しているタグ名の表示-->
  <div class="top__tag">
    <div class="top__tagname">
      <p>本日の注目食材！</p>
      <% @pickup_foods.each do |pickup_food| %>
          <%= link_to posts_path(tag_id: pickup_food) do %>
          <%= pickup_food.tag_name %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <!--注目食材を使用した投稿一覧-->
  <%= render 'public/posts/top_index', posts: @posts %>
</div>