<!DOCTYPE html>
<html>
  <head>
    <title>ナニタベル</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--font-awesome読み込み-->
    <script src="https://kit.fontawesome.com/a8d8b5ebb4.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
      <!--エラーメッセージの表示-->
      <% unless current_page?(new_user_session_path || new_user_registration_path || new_admin_session_path) then %>
        <p class="notice">
          <%= notice %>
        </p>
      <% end %>


    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
  
</html>
