<!DOCTYPE html>
<html>
  <head>
    <title>Nanitaberu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">-->
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%# deivseのフラッシュメッセージを表示 %>
    <p class="alert"><%= alert %></p>

    
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
  
</html>
